<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
      <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
      <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

      <property name="hibernate.connection.url">
         jdbc:mysql://YYY/XXX?createDatabaseIfNotExist=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;connectionCollation=utf8_general_ci
      </property>
      <property name="hibernate.connection.username">Konrad_Boniecki</property>
      <property name="hibernate.connection.password">How dare you recruiter!</property>
      <property name="hibernate.show_sql">true</property>
      <property name="hibernate.hbm2ddl.auto">create-drop</property>
      <property name="hibernate.show_sql">true</property>
      <property name="hibernate.connection.useUnicode">true</property>
      <property name="hibernate.connection.characterEncoding">UTF-8</property>
      <property name="hibernate.connection.charSet">UTF-8</property>

      <mapping class="Entities.KeyNumberEntity"/>
      <mapping class="Entities.RegisteredSENTInfoEntity"/>
      <mapping class="Entities.GoodsSenderEntity"/>
      <mapping class="Entities.GoodsRecipientEntity"/>
      <mapping class="Entities.PlaceOfLoadingEntity"/>
      <mapping class="Entities.PlaceOfDeliveryEntity"/>
      <mapping class="Entities.CarrierEntity"/>
      <mapping class="Entities.GoodsInformationEntity"/>
      <mapping class="Entities.MeanOfTransportEntity"/>


   </session-factory>
</hibernate-configuration>